* {
    box-sizing: border-box;
    font-family: 'Roboto';
    font-style: normal;
    margin-block-start: 0;
    margin-block-end: 0;
}

.body {
    background-image: url("../image/background.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    width: 1024px;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 46px;
    margin-bottom: 17px;
}

.contacts {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: center;

}

.contact-details {
    padding-top: 10px;

}

.contact-details:hover {
    color: #F26522;
}

.logo {
    display: flex;
    width: 180px;
    height: 47px;
    font-weight: 700;
    text-transform: uppercase;
}

.logo .image:nth-of-type(2) {
    display: none;
}

.logo:hover .title {
    color: #F26522;
}

.logo:hover .link-text {
    color: #F26522;
}

.logo:hover .image:nth-of-type(1) {
    display: none;
}

.logo:hover .image:nth-of-type(2) {
    display: block;
}

.link {
    text-decoration: none;
}

.link-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
}


.title {
    font-style: normal;
    font-weight: 700;
    font-size: 29px;
    line-height: 29px;
    color: #FFFFFF;
}

h1 {
    margin: 4px 0 0 8px;
    font-weight: 700;
}

.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

h3 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 37px;
}

.pop-up-window {
    background-color: #F26522;
    height: 55px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.price-block {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.price {
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: #FFFFFF;
}

.from {
    font-size: 10px;
    line-height: 10px;
    margin-bottom: 8px;
    color: #FFFFFF;
}

.details {
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
}

.details::after {
    content: " > ";
    padding-left: 16px;
}

.block {
    position: relative;
    transition: 3s; /*почему не работает?*/
}

.pop-up-window {
    position: absolute;
    width: 304px;
    height: 55px;
    top: 165px;
    display: none;
}

.block:hover .pop-up-window {
    display: flex;
}

.block:hover .link-text {
    color: #F26522;
}

.copyright {
    font-size: 12px;
    line-height: 12px;
    text-align: center;
    margin-top: 50px;
    color: #FFFFFF;
    margin-bottom: 15px;
}

.block-image {
    border: 15px;
    background: rgb(250, 250, 252);
    background: linear-gradient(180deg, rgba(250, 250, 252, 1) 0%, rgba(15, 14, 14, 1) 100%);
}